$main: #0087FF
$todo-items: #0860AD
$todo-items-text: white
$todo-items-button: red
$todo-items-button-hover: #002A8D
$todo-add-button: #0860AD
$todo-add-button-active: #002A8D
$todo-add-button-text: white